---
import Layout from "@site/layout/Layout.astro";

import Header from "@site/components/header/Header.astro";
import HeaderLink from "@site/components/header/HeaderLink.astro";
import Hero from "@site/components/hero/Hero.astro";
import Footer from "@site/components/Footer.astro";

import { buttonVariants } from "~/components/ui/button";
import { LanguageSwitcher } from "@site/components/LanguageSwitcher";
---

<Layout title="我的产品">
  <Header title="我的产品">
    <Fragment slot="main-nav">
      <HeaderLink href="/">首页</HeaderLink>
      <HeaderLink href="/faq">常见问题</HeaderLink>
    </Fragment>
    <Fragment slot="nav-actions">
      <LanguageSwitcher client:load />
      <a href="/signin" class={buttonVariants({ variant: "default" })}>
        登录
      </a>
    </Fragment>
  </Header>
  <Hero
    tagline="为您提供一个酷炫的产品"
    description="这是一个酷炫的产品。您可以用它做很多事情。"
  >
    <a href="/signin" class={buttonVariants({ variant: "default" })}>
      开始使用
    </a>
  </Hero>
  <Footer>
    <Fragment slot="footer-links">
      <a href="/terms">服务条款</a>
      <a href="/privacy">隐私政策</a>
    </Fragment>
  </Footer>
</Layout>
