---
import Layout from "@site/layout/Layout.astro";

import LandingHeader from "@site/components/LandingHeader.astro";
import Hero from "@site/components/Hero.astro";

import { buttonVariants } from "~/components/ui/button";
---

<Layout title="My Product">
  <LandingHeader />
  <Hero
    subtitle="A Cool Product for You"
    description="This is a cool product for you. You can use it for many things."
  >
    <a href="/signin" class={buttonVariants({ variant: "default" })}>
      Get Started
    </a>
  </Hero>
</Layout>
