---
import Layout from "@site/layout/Layout.astro";

import Header from "@site/components/header/Header.astro";
import Hero from "@site/components/hero/Hero.astro";
import Footer from "@site/components/Footer.astro";

import { buttonVariants } from "~/components/ui/button";
---

<Layout>
  <Header />
  <Hero
    tagline="A Cool Product for You"
    description="This is a cool product for you. You can use it for many things."
  >
    <a href="/signin" class={buttonVariants({ variant: "default" })}>
      Get Started
    </a>
  </Hero>
  <Footer />
</Layout>
