---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  isActive?: boolean;
};

const { href, class: className, ...props } = Astro.props;
const { isActive = false } = props;
---

<a
  href={href}
  class:list={[
    className,
    "transition-colors",
    "hover:text-stone-500",
    isActive ? "text-stone-700" : "text-stone-400",
  ]}
  {...props}
>
  <slot />
</a>
