---
interface Props {
  tagline: string;
  description: string;
}

const { tagline, description } = Astro.props as Props;
---

<section
  class="mx-auto flex max-w-[980px] flex-col items-center gap-2 p-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
>
  <h1
    class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1]"
  >
    {tagline}
  </h1>
  <div
    class="max-w-[750px] text-center text-md text-muted-foreground sm:text-lg"
  >
    {description}
  </div>
  <div class="flex w-full items-center justify-center space-x-4 py-4 md:pb-10">
    <slot />
  </div>
</section>
