---

---

<footer class="w-full">
  <div class="mx-12 p-4 flex justify-between border-t">
    <div class="flex gap-4">
      <slot name="footer-links" />
    </div>
    <div>©{new Date().getFullYear()} My Company</div>
  </div>
</footer>
